@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="">Welcome To St.Louis</h1>
    <ul>
         <li><a href="https://www.fabulousfox.com/">The Fabulous Fox</a><div>
               The fox is a theater that was built 90 years ago. It has many events from broadway to modern concerts.
         </div></li>
        <li><a href="http://www.stifeltheatre.com/">Stifel Theatre</a><div>
              Stifel theater was built in 1934 and has many events in the arts. 
              </div></li>
        <li><a href="https://www.stlzoo.org/">St.Louis Zoo</a><div>
              St.Louis Zoo has over 17,000 wild animals and over 500 different species of animals.
              </div></li>
        <li><a href="https://www.citymuseum.org/">City Museum</a><div>
              Is not your typical museum. It is a mixture of artistic creations and hands-on fun.
              </div></li>
        <li><a href="https://www.slsc.org/">Saint Louis Science Center</a><div>
                The science center takes learning to a new level with hands-on activites and science exhibits.
                </div></li>
        <li><a href="https://www.magichouse.org/">The Magic House</a><div>
               The magic house take the magic of everyday subjects and makes them fun to learn about and with a hands-on approach.
               </div></li>

    </ul>

    
</div>
